1dwg/trunk/cansas1d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xsd-documentation.xsl" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="cansas1d/1.0" xmlns:tns="cansas1d/1.0"
	elementFormDefault="qualified">

	<complexType name="floatUnitType">
		<simpleContent>
			<extension base="float">
				<attribute name="unit" type="string" use="required">
					<annotation>
						<documentation>
							<DT>@unit</DT>
							<DD>
								Data unit to be given in standard SI
								abbreviations (e.g., m, cm, mm, nm, K)
								with the following exceptions:
								<OL>
									<LI>um=micrometres</LI>
									<LI>C=celsius</LI>
									<LI>A=Angstroms</LI>
									<LI>percent=%.</LI>
									<LI>fraction</LI>
									<LI>a.u.=arbitrary units</LI>
									<LI>
										none=no units are relevant (such
										as dimensionless)
									</LI>
								</OL>
							</DD>
						</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<group name="positionGroup">
		<sequence>
			<annotation>
				<documentation>
					<DT>x, y, z</DT>
					<DD>
						Coordinates for (x, y, z) values representing a
						position or dimension. Unit must be specified
						for each.
					</DD>
				</documentation>
			</annotation>
			<element name="x" type="tns:floatUnitType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						<DT>position/cs:x</DT>
						<DD>
							[0..1] Translation in the horizontal
							direction, orthogonal to Y and Z. Positive X
							direction increases as defined by Y and Z.
							Unit must be specified.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="y" type="tns:floatUnitType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						<DT>position/cs:y</DT>
						<DD>
							[0..1] Translation along the vertical
							gravitational direction. Positive direction
							increases upward. Unit must be specified.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="z" type="tns:floatUnitType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						<DT>position/cs:z</DT>
						<DD>
							[0..1] Translation along the beam direction.
							Positive direction increases from source
							towards detector. Unit must be specified.
						</DD>
					</documentation>
				</annotation>
			</element>
		</sequence>
	</group>

	<complexType name="positionType">
		<group ref="tns:positionGroup" />
		<attribute name="name" type="string" use="optional" />
	</complexType>

	<group name="orientationGroup">
		<sequence>
			<annotation>
				<documentation>
					<DT>roll, pitch, yaw</DT>
					<DD>
						Coordinates for (roll, pitch, yaw) values
						representing an orientation or rotation. Unit
						must be specified for each.
					</DD>
				</documentation>
			</annotation>
			<element name="roll" type="tns:floatUnitType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						<DT>orientation/cs:roll</DT>
						<DD>
							[0..1] Rotation about about the Z axis. Unit
							must be specified.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="pitch" type="tns:floatUnitType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						<DT>orientation/cs:pitch</DT>
						<DD>
							[0..1] Rotation about about the X axis. Unit
							must be specified.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="yaw" type="tns:floatUnitType" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						<DT>orientation/cs:yaw</DT>
						<DD>
							[0..1] Rotation about about the Y axis. Unit
							must be specified.
						</DD>
					</documentation>
				</annotation>
			</element>
		</sequence>
	</group>

	<complexType name="orientationType">
		<group ref="tns:orientationGroup" />
		<attribute name="name" type="string" use="optional" />
	</complexType>

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<complexType name="IdataType">
		<sequence>
			<element name="Q" minOccurs="1" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:Q
						</DT>
						<DD>
							[1..1] Q = (4 pi / lambda) sin(theta)
							<br />
							where lambda is the wavelength of the
							radiation and 2theta is the angle through
							which the detected radiation has been
							scattered.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:Q/@unit
						</DT>
						<DD>
							[1..1] Required unit for Q. (See @unit for
							details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="I" minOccurs="1" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:I
						</DT>
						<DD>
							[1..1] Intensity of the detected radiation.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:I/@unit
						</DT>
						<DD>
							[1..1] Required unit for I. (See @unit for
							details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="Idev" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType" default="0">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:Idev
						</DT>
						<DD>
							[0..1] Estimated standard deviation of I.
							Must specify the unit as an attribute.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:Idev/@unit
						</DT>
						<DD>
							[1..1] Required unit for Idev. (See @unit
							for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<xsd:choice>
				<!-- [ [Qdev] | [[dQw] | [dQl]] ] -->
				<element name="Qdev" minOccurs="0" maxOccurs="1"
					type="tns:floatUnitType" default="0">
					<annotation>
						<documentation>
							<DT>
								/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:Qdev
							</DT>
							<DD>
								[0..1] Estimated standard deviation of
								Q. Must specify the unit as an
								attribute.
							</DD>
						</documentation>
						<documentation>
							<DT>
								/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:Qdev/@unit
							</DT>
							<DD>
								[1..1] Required unit for Qdev. (See
								@unit for details.)
							</DD>
						</documentation>
					</annotation>
				</element>
				<xsd:sequence>
					<element name="dQw" minOccurs="0" maxOccurs="1"
						type="tns:floatUnitType" default="0">
						<annotation>
							<documentation>
								<DT>
									/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:dQw
								</DT>
								<DD>
									[0..1] Q resolution along the axis
									of scanning (the high-resolution ''slit width''
									direction).
								</DD>
							</documentation>
							<documentation>
								<DT>
									/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:dQw/@unit
								</DT>
								<DD>
									[1..1] Required unit for dQw. (See
									@unit for details.)
								</DD>
							</documentation>
						</annotation>
					</element>
					<element name="dQl" minOccurs="0" maxOccurs="1"
						type="tns:floatUnitType" default="0">
						<annotation>
							<documentation>
								<DT>
									/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:dQl
								</DT>
								<DD>
									[0..1] Q resolution perpendicular to
									the axis of scanning (the low-resolution ''slit
									length'' direction).
								</DD>
							</documentation>
							<documentation>
								<DT>
									/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:dQl/@unit
								</DT>
								<DD>
									[1..1] Required unit for dQl. (See
									@unit for details.)
								</DD>
							</documentation>
						</annotation>
					</element>
				</xsd:sequence>
			</xsd:choice>
			<element name="Qmean" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType" default="0">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:Qmean
						</DT>
						<DD>
							[0..1] Mean value of Q for this datum. Must
							specify the unit as an attribute.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:Qmean/@unit
						</DT>
						<DD>
							[1..1] Required unit for Qmean. (See @unit
							for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="Shadowfactor" minOccurs="0" maxOccurs="1"
				type="float" default="1.0">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata/cs:Shadowfactor
						</DT>
						<DD>
							[0..1] Describes the adjustment due to the
							beam stop penumbra. (This definition needs
							revision. NIST?) NOTE: There is no "unit"
							attribute.
						</DD>
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="SASdataType">
		<sequence>
			<element name="Idata" minOccurs="1" maxOccurs="unbounded"
				type="tns:IdataType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASdata/cs:Idata
						</DT>
						<DD>
							[1..inf] Idata describes a single SAS data
							point.
						</DD>
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="name" type="string" use="optional">
			<annotation>
				<documentation>
					<DT>/cs:SASroot/cs:SASentry/cs:SASdata/@name</DT>
					<DD>
						[0..1] Optional string attribute to identify
						this particular SASdata.
					</DD>
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<complexType name="SASsampleType">
		<sequence>
			<element name="ID" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:ID
						</DT>
						<DD>
							[1..1] Text string that identifies this
							sample.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="thickness" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:thickness
						</DT>
						<DD>
							[0..1] Thickness of this sample. Must
							specify the unit as an attribute.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:thickness/@unit
						</DT>
						<DD>
							[1..1] Required unit for thickness. (See
							@unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="transmission" minOccurs="0" maxOccurs="1"
				type="float">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:transmission
						</DT>
						<DD>
							[0..1] Transmission (1-attenuation) of this
							sample. Express this as a fraction, not as a
							percentage. NOTE: there is not "unit"
							attribute.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="temperature" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:temperature
						</DT>
						<DD>
							[0..1] Temperature of this sample. Must
							specify the unit as an attribute.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:temperature/@unit
						</DT>
						<DD>
							[1..1] Required unit for temperature. (See
							@unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="position" minOccurs="0" maxOccurs="1"
				type="tns:positionType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:position
						</DT>
						<DD>
							[0..1] Location in X, Y, and Z of the
							sample. Must specify the unit as an
							attribute to each position.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:position/@name
						</DT>
						<DD>
							Optional attribute to name this position.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:position/cs:x
						</DT>
						<DD>[0..1] Location of the sample in X.</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:position/cs:x/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of x.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:position/cs:y
						</DT>
						<DD>[0..1] Location of the sample in Y.</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:position/cs:y/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of y.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:position/cs:z
						</DT>
						<DD>
							[0..1] Location of the sample in Z. While
							this is allowed by the standard, it does not
							make much sense for small-angle scattering.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:position/cs:z/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of z.
							(See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="orientation" minOccurs="0" maxOccurs="1"
				type="tns:orientationType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:orientation
						</DT>
						<DD>
							[0..1] Orientation (rotation) of the sample.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:orientation/@name
						</DT>
						<DD>
							Optional attribute to name this orientation.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:orientation/cs:roll
						</DT>
						<DD>
							[0..1] Optional rotation of the sample about
							the Z axis (roll).
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:orientation/cs:roll/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of
							roll. (See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:orientation/cs:pitch
						</DT>
						<DD>
							[0..1] Optional rotation of the sample about
							the X axis (pitch).
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:orientation/cs:pitch/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of
							pitch. (See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:orientation/cs:yaw
						</DT>
						<DD>
							[0..1] Optional rotation of the sample about
							the Y axis (yaw).
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:orientation/cs:yaw/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of
							yaw. (See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="details" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/cs:details
						</DT>
						<DD>
							[0..inf] Text string to supply additional
							sample details.
						</DD>
					</documentation>
				</annotation>
			</element>
			<xsd:any minOccurs="0" maxOccurs="unbounded"
				processContents="skip" namespace="##other">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASsample/&lt;any&gt;
						</DT>
						<DD>
							[0..inf] Provision at this point for any
							element to be entered that is not part of
							the canSAS standard. Use a
							'''xmlns="some-simple-identification-string"'''
							to identify that this is a ''foreign
							element.''
						</DD>
					</documentation>
				</annotation>
			</xsd:any>
		</sequence>
		<attribute name="name" type="string" use="optional">
			<annotation>
				<documentation>
					<DT>/cs:SASroot/cs:SASentry/cs:SASsample/@name</DT>
					<DD>
						[0..1] Optional attribute to name this sample.
						(Should be the same as SASsample/cs:ID)
					</DD>
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<complexType name="termType">
		<annotation>
			<documentation>
				<DT>cs:term</DT>
				<DD>
					[0..1] This is used to specify the value of a single
					variable, parameter, or term related to the
					SASprocess step. This could also be used in a
					SASnote element to indicate terms not associated
					with a SASprocess step.
				</DD>
			</documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" use="required">
					<annotation>
						<documentation>
							<DT>cs:term/@name</DT>
							<DD>[1..1] Name of the term.</DD>
						</documentation>
					</annotation>
				</attribute>
				<attribute name="unit" type="string" use="optional">
					<annotation>
						<documentation>
							<DT>cs:term/@unit</DT>
							<DD>
								[1..1] Unit (string) of the term. (See
								@unit for details.)
							</DD>
						</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<complexType name="SASprocessType">
		<sequence>
			<element name="name" minOccurs="0" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASprocess/cs:name
						</DT>
						<DD>
							[0..1] Optional name for this data
							processing or analysis step.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="date" minOccurs="0" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASprocess/cs:date
						</DT>
						<DD>
							[0..1] Optional date for this data
							processing or analysis step. *** SHOULD WE
							SPECIFY THE FORMAT FOR THE DATE? ***
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="description" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASprocess/cs:description
						</DT>
						<DD>
							[0..1] Optional description for this data
							processing or analysis step.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="term" minOccurs="0" maxOccurs="unbounded"
				type="tns:termType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASprocess/cs:term
						</DT>
						<DD>
							[0..1] This is used to specify the value of
							a single variable, parameter, or term
							related to the SASprocess step.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="SASprocessnote" minOccurs="1"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASprocess/cs:SASprocessnote
						</DT>
						<DD>
							[1..inf] This element is used to describe
							anything about SASprocess that is not
							already described.
						</DD>
					</documentation>
				</annotation>
			</element>
			<xsd:any minOccurs="0" maxOccurs="unbounded"
				processContents="skip" namespace="##other">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASprocess/cs:SASprocessnote/&lt;any&gt;
						</DT>
						<DD>
							[0..inf] Provision at this point for any
							element to be entered that is not part of
							the canSAS standard. Use a
							'''xmlns="some-simple-identification-string"'''
							to identify that this is a ''foreign
							element.''
						</DD>
					</documentation>
				</annotation>
			</xsd:any>
		</sequence>
		<attribute name="name" type="string" use="optional">
			<annotation>
				<documentation>
					<DT>/cs:SASroot/cs:SASentry/cs:SASprocess/@name</DT>
					<DD>
						[0..1] Optional attribute to provide a name for
						this SASprocess. It is redundant with
						/cs:SASroot/cs:SASentry/cs:SASprocess/cs:name
						but it is not the same. It should probably be
						removed.
					</DD>
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<complexType name="SASsourceType">
		<sequence>
			<element name="radiation" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:radiation
						</DT>
						<DD>
							[1..1] Name of the radiation used (neutron,
							X-ray, synchrotron X-ray, Cu Ka X-ray tube,
							..."
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="beam_size" minOccurs="0" maxOccurs="1"
				type="tns:positionType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:beam_size
						</DT>
						<DD>
							[0..1] Physical dimension of the beam
							(incident on the sample). Note: If beam is
							round, just use X dimension. Note: While Z
							dimension is allowed by the standard, it
							does not make sense for small-angle
							scattering.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:beam_size/@name
						</DT>
						<DD>
							Optional attribute to clarify the name of
							this beam size.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:beam_size/cs:x
						</DT>
						<DD>[0..1] Dimension of the beam size in X.</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:beam_size/cs:x/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of x.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:beam_size/cs:y
						</DT>
						<DD>[0..1] Dimension of the beam size in Y.</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:beam_size/cs:y/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of y.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:beam_size/cs:z
						</DT>
						<DD>
							[0..1] Dimension of the beam size in Z.
							While this is allowed by the standard, it
							does not make much sense for small-angle
							scattering.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:beam_size/cs:z/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of z.
							(See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="beam_shape" minOccurs="0" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:beam_shape
						</DT>
						<DD>
							[0..1] Text description of the shape of the
							beam (incident on the sample).
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="wavelength" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:wavelength
						</DT>
						<DD>
							[0..1] wavelength of radiation incident on
							the sample.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:wavelength/@unit
						</DT>
						<DD>
							[1..1] wavelength of radiation requires a
							unit to be specified. (See @unit for
							details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="wavelength_min" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:wavelength_min
						</DT>
						<DD>
							[0..1] Some facilities specify wavelength
							using a range. The minimum of such a range
							is given by wavelength_min.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:wavelength_min/@unit
						</DT>
						<DD>
							[1..1] wavelength_min requires a unit to be
							specified. (See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="wavelength_max" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:wavelength_max
						</DT>
						<DD>
							[0..1] Some facilities specify wavelength
							using a range. The maximum of such a range
							is given by wavelength_max.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:wavelength_max/@unit
						</DT>
						<DD>
							[1..1] wavelength_max requires a unit to be
							specified. (See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="wavelength_spread" minOccurs="0"
				maxOccurs="1" type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:wavelength_spread
						</DT>
						<DD>
							[0..1] Some facilities specify the width of
							the wavelength spectrum. The minimum of such
							a range is given by wavelength_spread.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:wavelength_spread/@unit
						</DT>
						<DD>
							[1..1] wavelength_spread requires a unit to
							be specified. (See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="name" type="string" use="optional">
			<annotation>
				<documentation>
					<DT>
						/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/@name
					</DT>
					<DD>
						[0..1] Optional text description of the source
						of the radiation (incident on the sample). This
						can be different from
						/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource/cs:radiation.
					</DD>
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="SAScollimationType">
		<sequence>
			<element name="distance" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:distance
						</DT>
						<DD>
							[0..1] Distance from this collimation
							element to the sample.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:distance/@unit
						</DT>
						<DD>
							[1..1] distance requires a unit to be
							specified. (See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="aperture" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture
						</DT>
						<DD>[0..inf] Slit or aperture.</DD>
					</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="size" minOccurs="0" maxOccurs="1"
							type="tns:positionType">
							<annotation>
								<documentation>
									<DT>
										/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/cs:size
									</DT>
									<DD>
										[0..1] Opening dimensions of
										this aperture.
									</DD>
								</documentation>
								<documentation>
									<DT>
										/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/cs:size/@name
									</DT>
									<DD>
										[1..1] Optional attribute to
										clarify the name of this beam
										size.
									</DD>
								</documentation>
								<documentation>
									<DT>
										/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/cs:size/cs:x
									</DT>
									<DD>
										[0..1] Dimension of the aperture
										in X.
									</DD>
								</documentation>
								<documentation>
									<DT>
										/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/cs:size/cs:x/@unit
									</DT>
									<DD>
										[1..1] Required unit for the
										dimension of x. (See @unit for
										details.)
									</DD>
								</documentation>
								<documentation>
									<DT>
										/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/cs:size/cs:y
									</DT>
									<DD>
										[0..1] Dimension of the aperture
										in Y.
									</DD>
								</documentation>
								<documentation>
									<DT>
										/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/cs:size/cs:y/@unit
									</DT>
									<DD>
										[1..1] Required unit for the
										dimension of y. (See @unit for
										details.)
									</DD>
								</documentation>
								<documentation>
									<DT>
										/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/cs:size/cs:z
									</DT>
									<DD>
										[0..1] Dimension of the aperture
										in Z. While this is allowed by
										the standard, it does not make
										much sense for small-angle
										scattering.
									</DD>
								</documentation>
								<documentation>
									<DT>
										/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/cs:size/cs:z/@unit
									</DT>
									<DD>
										[1..1] Required unit for the
										dimension of z. (See @unit for
										details.)
									</DD>
								</documentation>
							</annotation>
						</element>
					</sequence>
					<attribute name="name" type="string"
						use="optional">
						<annotation>
							<documentation>
								<DT>
									/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/@name
								</DT>
								<DD>
									[0..1] Optional name for this
									aperture.
								</DD>
							</documentation>
						</annotation>
					</attribute>
					<attribute name="type" type="string"
						use="optional">
						<annotation>
							<documentation>
								<DT>
									/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/cs:aperture/@type
								</DT>
								<DD>
									[1..1] Optional text to describe the
									type aperture (pinhole, 4-blade
									slit, Soller slit, ...).
								</DD>
							</documentation>
						</annotation>
					</attribute>
				</complexType>
			</element>
		</sequence>
		<attribute name="name" type="string" use="optional">
			<annotation>
				<documentation>
					<DT>
						/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation/@name
					</DT>
					<DD>
						[0..1] Optional text to describe this
						collimation element.
					</DD>
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="SASdetectorType">
		<sequence>
			<element name="name" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:name
						</DT>
						<DD>[1..1] Name of the detector.</DD>
					</documentation>
				</annotation>
			</element>
			<element name="SDD" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:SDD
						</DT>
						<DD>
							[0..1] Distance between sample and detector.
							Must specify the unit as an attribute.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:SDD/@unit
						</DT>
						<DD>
							[1..1] Required unit for SDD. (See @unit for
							details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="offset" minOccurs="0" maxOccurs="1"
				type="tns:positionType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:offset
						</DT>
						<DD>
							[0..1] Offset of the detector position in X,
							Y, and Z.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:offset/@name
						</DT>
						<DD>
							Optional attribute to clarify the name of
							this beam size.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:offset/cs:x
						</DT>
						<DD>
							[0..1] Offset of the detector position in X.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:offset/cs:x/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of x.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:offset/cs:y
						</DT>
						<DD>
							[0..1] Offset of the detector position in Y.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:offset/cs:y/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of y.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:offset/cs:z
						</DT>
						<DD>
							[0..1] Offset of the detector position in Z.
							While this is allowed by the standard, it
							does not make much sense for small-angle
							scattering.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:offset/cs:z/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of z.
							(See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="orientation" minOccurs="0" maxOccurs="1"
				type="tns:orientationType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:orientation
						</DT>
						<DD>
							[0..1] Orientation (rotation) of the
							detector in roll, pitch, and yaw. Must
							specify the unit as an attribute.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:orientation/@name
						</DT>
						<DD>
							Optional attribute to name this orientation.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:orientation/cs:roll
						</DT>
						<DD>
							[0..1] Optional rotation of the detector
							about the Z axis (roll).
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:orientation/cs:roll/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of
							roll. (See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:orientation/cs:pitch
						</DT>
						<DD>
							[0..1] Optional rotation of the detector
							about the X axis (pitch).
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:orientation/cs:pitch/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of
							pitch. (See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:orientation/cs:yaw
						</DT>
						<DD>
							[0..1] Optional rotation of the detector
							about the Y axis (yaw).
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:orientation/cs:yaw/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of
							yaw. (See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="beam_center" minOccurs="0" maxOccurs="1"
				type="tns:positionType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:beam_center
						</DT>
						<DD>
							[0..1] Center of the beam on the detector in
							X and Y.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:beam_center/@name
						</DT>
						<DD>
							Optional attribute to clarify the name of
							this detector beam center.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:beam_center/cs:x
						</DT>
						<DD>
							[0..1] Center of the beam on the detector in
							X.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:beam_center/cs:x/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of x.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:beam_center/cs:y
						</DT>
						<DD>
							[0..1] Center of the beam on the detector in
							Y.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:beam_center/cs:y/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of y.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:beam_center/cs:z
						</DT>
						<DD>
							[0..1] Center of the beam on the detector in
							Z. While this is allowed by the standard, it
							does not make much sense for small-angle
							scattering.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:beam_center/cs:z/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of z.
							(See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="pixel_size" minOccurs="0" maxOccurs="1"
				type="tns:positionType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:pixel_size
						</DT>
						<DD>
							[0..1] Size of detector pixels in X and Y.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:pixel_size/@name
						</DT>
						<DD>
							Optional attribute to clarify the name of
							this detector pixel size.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:pixel_size/cs:x
						</DT>
						<DD>[0..1] Size of detector pixels in X.</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:pixel_size/cs:x/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of x.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:pixel_size/cs:y
						</DT>
						<DD>[0..1] Size of detector pixels in Y.</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:pixel_size/cs:y/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of y.
							(See @unit for details.)
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:pixel_size/cs:z
						</DT>
						<DD>
							[0..1] Size of detector pixels in Z. While
							this is allowed by the standard, it does not
							make much sense for small-angle scattering.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:pixel_size/cs:z/@unit
						</DT>
						<DD>
							[1..1] Required unit for the dimension of z.
							(See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="slit_length" minOccurs="0" maxOccurs="1"
				type="tns:floatUnitType">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:slit_length
						</DT>
						<DD>
							[0..1] Slit length of the instrument for
							this detector. Must specify the unit as an
							attribute.
						</DD>
					</documentation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector/cs:slit_length/@unit
						</DT>
						<DD>
							[1..1] Required unit for the slit length.
							(See @unit for details.)
						</DD>
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="SASinstrumentType">
		<sequence>
			<element name="name" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:name
						</DT>
						<DD>[1..1] Name of the instrument.</DD>
					</documentation>
				</annotation>
			</element>
			<element name="SASsource" type="tns:SASsourceType" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASsource
						</DT>
						<DD>
							[1..1] Description of the source of the
							radiation.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="SAScollimation"
				type="tns:SAScollimationType" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SAScollimation
						</DT>
						<DD>
							[1..inf] Description of the instrument
							collimation.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="SASdetector" type="tns:SASdetectorType"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument/cs:SASdetector
						</DT>
						<DD>
							[1..inf] Description of a single or
							composite detector.
						</DD>
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<complexType name="SASentryType">
		<sequence>
			<element name="Title" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						<DT>/cs:SASroot/cs:SASentry/cs:Title</DT>
						<DD>[1..1] Title of this SASentry.</DD>
					</documentation>
				</annotation>
			</element>
			<element name="Run" minOccurs="1" maxOccurs="unbounded">
				<xsd:complexType>
					<annotation>
						<documentation>
							<DT>/cs:SASroot/cs:SASentry/cs:Run</DT>
							<DD>
								[1..inf] Run identification for this
								SASentry. For many facilities, this is
								an integer. Use multiple instances of
								Run as needed. Note: How to correlate
								this with SASinstrument configurations
								has not yet been defined.
							</DD>
						</documentation>
					</annotation>
					<simpleContent>
						<extension base="string">
							<attribute name="name" type="string"
								use="optional">
								<annotation>
									<documentation>
										<DT>
											/cs:SASroot/cs:SASentry/cs:Run/@name
										</DT>
										<DD>
											[0..1] Optional string
											attribute to identify this
											particular SASrun. Use this
											to associate (correlate)
											multiple SASdata elements
											with Run elements. (Give
											them the same name.)
										</DD>
									</documentation>
								</annotation>
							</attribute>
						</extension>
					</simpleContent>
				</xsd:complexType>
			</element>
			<xsd:any minOccurs="0" maxOccurs="unbounded"
				processContents="skip" namespace="##other">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/&lt;any&gt;
						</DT>
						<DD>
							[0..inf] Provision at this point for any
							element to be entered that is not part of
							the canSAS standard. Use a
							'''xmlns="some-simple-identification-string"'''
							to identify that this is a ''foreign
							element.''
						</DD>
					</documentation>
				</annotation>
			</xsd:any>
			<element name="SASdata" minOccurs="1" maxOccurs="unbounded"
				type="tns:SASdataType">
				<annotation>
					<documentation>
						<DT>/cs:SASroot/cs:SASentry/cs:SASdata</DT>
						<DD>
							[1..inf] Reduced 1-D SAS data for this
							SASentry. Use multiple SASdata elements to
							represent multiple frames. Use this to
							associate (correlate) multiple SASdata
							elements with Run elements. (Give them the
							same name.)
						</DD>
					</documentation>
				</annotation>
			</element>
			<xsd:any minOccurs="0" maxOccurs="unbounded"
				processContents="skip" namespace="##other">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/&lt;any&gt;
						</DT>
						<DD>
							[0..inf] Provision at this point for any
							element to be entered that is not part of
							the canSAS standard. Use a
							'''xmlns="some-simple-identification-string"'''
							to identify that this is a ''foreign
							element.''
						</DD>
					</documentation>
				</annotation>
			</xsd:any>
			<element name="SASsample" type="tns:SASsampleType">
				<annotation>
					<documentation>
						<DT>/cs:SASroot/cs:SASentry/cs:SASsample</DT>
						<DD>[] Description of the sample.</DD>
					</documentation>
				</annotation>
			</element>
			<element name="SASinstrument" type="tns:SASinstrumentType"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						<DT>
							/cs:SASroot/cs:SASentry/cs:SASinstrument
						</DT>
						<DD>[1..1] Description of the instrument.</DD>
					</documentation>
				</annotation>
			</element>
			<element name="SASprocess" type="tns:SASprocessType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						<DT>/cs:SASroot/cs:SASentry/cs:SASprocess</DT>
						<DD>
							[0..inf] Description of a processing or
							analysis step.
						</DD>
					</documentation>
				</annotation>
			</element>
			<element name="SASnote" minOccurs="1"
				maxOccurs="unbounded">
				<!-- this is a free-form element.
					Do not define any content for it or it will become restrictive.
				-->
				<annotation>
					<documentation>
						<DT>/cs:SASroot/cs:SASentry/cs:SASnote</DT>
						<DD>
							[1..] Free form description of anything not
							covered by other elements.
						</DD>
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="name" type="string" use="optional">
			<annotation>
				<documentation>
					<DT>/cs:SASroot/cs:SASentry/@name</DT>
					<DD>
						[0..1] Optional string attribute to identify
						this particular SASentry.
					</DD>
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<complexType name="SASrootType">
		<sequence>
			<element name="SASentry" minOccurs="1" maxOccurs="unbounded"
				type="tns:SASentryType">
				<annotation>
					<documentation>
						<DT>/cs:SASroot/cs:SASentry</DT>
						<DD>
							[1..] A single SAS scan is reported in a
							SASentry. A SASentry can use the optional
							"name" attribute to provide a string for
							this SASentry. Use of this string is not
							defined by this standard.
						</DD>
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="version" type="string" fixed="1.0"
			use="required">
			<annotation>
				<documentation>
					<DT>/cs:SASroot/@version</DT>
					<DD>
						[1..1] version="1.0" Required attribute to
						indicate the version of the standard to which
						this XML document is encoded.
					</DD>
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<element name="SASroot" type="tns:SASrootType">
		<annotation>
			<documentation>
				<DT>/cs:SASroot</DT>
				<DD>
					[1..1] The canSAS reduced 1-D SAS data will be in
					the SASroot database. This is similar to NXroot used
					by NeXus.
				</DD>
			</documentation>
		</annotation>
	</element>

</schema>