1dwg/trunk/archives/cansas-2007/common.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="http://www.w3.org/namespace/" targetNamespace="http://www.w3.org/namespace/">

  <!-- see: http://www.w3schools.com/schema/schema_complex_empty.asp  -->

 <element name="SASroot">
  <complexType>
   <sequence>
    <element maxOccurs="unbounded" ref="t:SASentry"/>
   </sequence>
   <attribute name="xml_output_version" type="string" use="optional"/>
  </complexType>
 </element>

 <element name="SASentry">
  <complexType>
   <sequence>
    <element ref="t:SASdata"/>
    <element maxOccurs="1" minOccurs="0" ref="t:Run"/>
    <element ref="t:Title"/>
    <element maxOccurs="1" minOccurs="0" ref="t:Source_file"/>
    <element maxOccurs="1" minOccurs="0" ref="t:Flux_monitor"/>
    <choice>
     <sequence>
      <element ref="t:Count_time_secs"/>
     </sequence>
     <sequence>
      <element ref="t:Count_time_frames"/>
     </sequence>
    </choice>
    <element ref="t:Q_resolution"/>
    <element ref="t:SASsample"/>
    <element ref="t:SASinstrument"/>
    <element ref="t:SASprocess"/>
   </sequence>
   <attribute name="name" type="string" use="optional"/>
  </complexType>
 </element>

 <element name="SASdata">
  <complexType>
   <sequence>
    <element maxOccurs="unbounded" ref="t:Idata"/>
   </sequence>
  </complexType>
 </element>

 <element name="Idata">
  <complexType>
   <choice>
    <sequence>
     <element ref="t:Q_A-1"/>
     <element ref="t:I_cm-1"/>
     <element ref="t:Idev_cm-1"/>
     <element maxOccurs="1" minOccurs="0" ref="t:Qdev_A-1"/>
    </sequence>
    <sequence>
     <element ref="t:Q"/>
     <element ref="t:I"/>
     <element ref="t:Idev"/>
     <element maxOccurs="1" minOccurs="0" ref="t:Qdev"/>
    </sequence>
   </choice>
  </complexType>
 </element>

 <element name="Run">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="Q_A-1">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="I_cm-1">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="Idev_cm-1">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="Qdev_A-1">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="Q">
  <complexType mixed="true">
   <attribute name="units" type="string" use="required"/>
  </complexType>
 </element>

 <element name="I">
  <complexType mixed="true">
   <attribute name="units" type="string" use="required"/>
  </complexType>
 </element>

 <element name="Idev">
  <complexType mixed="true">
   <attribute name="units" type="string" use="required"/>
  </complexType>
 </element>

 <element name="Qdev">
  <complexType mixed="true">
   <attribute name="units" type="string" use="required"/>
  </complexType>
 </element>

 <element name="Title">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="Source_file">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="Flux_monitor">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="Count_time_secs">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="Count_time_frames">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="Q_resolution">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="SASsample">
  <complexType>
   <sequence>
    <element maxOccurs="1" minOccurs="0" ref="t:sample_temperature"/>
    <element maxOccurs="1" minOccurs="0" ref="t:sample_offset_angle_deg"/>
    <element maxOccurs="1" minOccurs="0" ref="t:sample_x_mm"/>
    <element maxOccurs="1" minOccurs="0" ref="t:sample_y_mm"/>
    <element maxOccurs="1" minOccurs="0" ref="t:sample_transmission"/>
    <element ref="t:sample_thickness_mm"/>
   </sequence>
  </complexType>
 </element>

 <element name="sample_temperature">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="sample_offset_angle_deg">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="sample_x_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="sample_y_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="sample_transmission">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="sample_thickness_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="SASinstrument">
  <complexType>
   <sequence>
    <element ref="t:SASsource"/>
    <choice>
     <sequence>
      <element ref="t:SAScollimator"/>
     </sequence>
     <sequence>
      <element ref="t:SAScollimation"/>
     </sequence>
    </choice>
    <element ref="t:SASdetector"/>
   </sequence>
   <attribute name="name" type="string" use="required"/>
  </complexType>
 </element>

 <element name="SASsource">
  <complexType>
   <sequence>
    <element ref="t:radiation"/>
    <element ref="t:beam_x_mm"/>
    <element ref="t:beam_y_mm"/>
    <choice>
     <sequence>
      <element ref="t:wavelength_A"/>
      <element ref="t:wavelength_spread"/>
     </sequence>
     <sequence>
      <element ref="t:beam_shape"/>
      <element ref="t:wavelength_min_nm"/>
      <element ref="t:wavelength_max_nm"/>
     </sequence>
    </choice>
   </sequence>
  </complexType>
 </element>

 <element name="radiation">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="beam_x_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="beam_y_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="wavelength_A">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="wavelength_spread">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="beam_shape">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="wavelength_min_nm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="wavelength_max_nm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="SAScollimator">
  <complexType>
   <sequence>
    <element ref="t:distance_coll_m"/>
   </sequence>
  </complexType>
 </element>

 <element name="SAScollimation">
  <complexType>
   <sequence>
    <element ref="t:distance_coll_m"/>
   </sequence>
  </complexType>
 </element>

 <element name="distance_coll_m">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="SASdetector">
  <complexType>
   <choice>
    <sequence>
     <element ref="t:distance_SD_m"/>
     <element ref="t:x0_mm"/>
     <element ref="t:y0_mm"/>
     <element ref="t:pixel_x_mm"/>
     <element ref="t:pixel_y_mm"/>
    </sequence>
    <sequence>
     <element ref="t:offset_angle_deg"/>
     <element ref="t:x0_cm"/>
     <element ref="t:y0_cm"/>
     <element ref="t:distance_SD_m"/>
     <element ref="t:pixel_x_mm"/>
     <element ref="t:pixel_y_mm"/>
    </sequence>
   </choice>
  </complexType>
 </element>

 <element name="offset_angle_deg">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="distance_SD_m">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="x0_cm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="x0_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="y0_cm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="y0_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="pixel_x_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="pixel_y_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="SASprocess">
  <complexType>
   <sequence>
    <element ref="t:date"/>
    <element maxOccurs="1" minOccurs="0" ref="t:radius_min_mm"/>
    <element maxOccurs="1" minOccurs="0" ref="t:radius_max_mm"/>
    <choice>
     <sequence>
      <element maxOccurs="1" minOccurs="0" ref="t:radialstep_cm"/>
     </sequence>
     <sequence>
      <element ref="t:radialstep_mm"/>
     </sequence>
    </choice>
    <element maxOccurs="1" minOccurs="0" ref="t:sector_width_deg"/>
    <element maxOccurs="1" minOccurs="0" ref="t:sector_orient_deg"/>
    <element maxOccurs="1" minOccurs="0" ref="t:I_scale_factor"/>
    <element maxOccurs="1" minOccurs="0" ref="t:SASnote_01"/>
    <element maxOccurs="1" minOccurs="0" ref="t:SASnote_02"/>
    <element maxOccurs="1" minOccurs="0" ref="t:SASnote_03"/>
    <element maxOccurs="1" minOccurs="0" ref="t:SASnote_04"/>
    <element maxOccurs="unbounded" minOccurs="0" ref="t:SASnote"/>
   </sequence>
   <attribute name="name" type="string" use="required"/>
  </complexType>
 </element>

 <element name="date">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="radius_min_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="radius_max_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="radialstep_cm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="radialstep_mm">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="sector_width_deg">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="sector_orient_deg">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="I_scale_factor">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="SASnote">
  <complexType mixed="true">
   <attribute name="number" type="string" use="optional"/>
  </complexType>
 </element>

 <element name="SASnote_01">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="SASnote_02">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="SASnote_03">
  <complexType mixed="true">
  </complexType>
 </element>

 <element name="SASnote_04">
  <complexType mixed="true">
  </complexType>
 </element>
</schema>
